# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/yarn.lock*
**/package-lock.json*

# Dependency directories
node_modules/
jspm_packages/
__mocks__/json-schema/*.json
__mocks__/mock-data/*.json

.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

